.button {
  border: none;
  background-color: var(--primary-blue);
  width: 100%;
  color: var(--primary-white);
  line-height: 26px;
  min-height: 58px;
}

.button_find-hotel {
  max-width: 458px;
}

.button_feedback {
  grid-area: button;

  @media (min-width: $tablet-width) {
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    max-width: 480px;
  }
}
