.feedback-form {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 50px;
    grid-template-areas: "expression name"
      "contact contact"
      "sightseeing sightseeing"
      "feedback feedback"
      "button prompt";
  }
}

.feedback-form__prompt {
  display: none;
  grid-area: prompt;

  @media (min-width: $tablet-width) {
    display: block;
    text-align: right;
  }
}
