.feedback-form {
  @media (min-width: $tablet-width) {
    display: grid;
    row-gap: 17px;
    grid-template-areas: "impression name"
      "contact contact"
      "sightseeing sightseeing"
      "feedback feedback"
      "button prompt";
  }
  grid-template-columns: 50% 50%;
}

.feedback-form__prompt {
  display: none;
  grid-area: prompt;

  @media (min-width: $tablet-width) {
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.feedback-form__button {
  margin-left: 20px;
  margin-right: 20px;
  grid-area: button;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 324px;
  }

  @media (min-width: $desktop-width) {
    min-width: 456px;
  }
}
