.feedback-form {
  @media (min-width: $tablet-width) {
    display: grid;
    row-gap: 50px;
    grid-template-areas: "expression name"
      "contact contact"
      "sightseeing sightseeing"
      "feedback feedback"
      "button prompt";
  }
}

.feedback-form__prompt {
  display: none;
  grid-area: prompt;

  @media (min-width: $tablet-width) {
    display: block;
    text-align: right;
  }
}

.feedback-form__button {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
