.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset__input {
  border: none;
  background-color: var(--light-gray);
  min-height: 58px;
  padding: 0 21px;
  margin-bottom: 20px;

  &::placeholder {
    font-family: var(--primary-font);
    color: var(--primary-black);
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }
}

.fieldset__input_feedback {
  padding-top: 13px;
  padding-bottom: 13px;
  min-height: 160px;
  width: 100%;
}
