.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.fieldset__legend {
  margin-bottom: 10px;
}

.fieldset__label-name {
  margin-right: 12px;
}

.fieldset__label-contact {
  margin: 20px;

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 17px;
  }
}

.fieldset__input {
  background-color: var(--light-gray);
  min-height: 58px;
  padding: 0 21px;
  margin-top: 8px;
  margin-bottom: 12px;
  width: 100%;
  border: 4px solid transparent;
  outline: none;
  padding-top: 5px;

  &::placeholder {
    color: var(--primary-black);
  }

  &:hover {
    background-color: var(--medium-gray);
  }

  &:focus {
    background-color: var(--primary-white);
    border-color: var(--medium-gray);
  }
}

.fieldset__input_contact {
  position: relative;

  &::after {
    position: absolute;
    top: 8px;
    right: 0;
    height: 58px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-gray);
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
  }
}

.fieldset__phone {
  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }

  &::after {
    content: url("../img/icon-phone.svg");
  }
}

.fieldset__email {
  &::after {
    content: url("../img/icon-mail.svg");
  }
}

.fieldset__input_feedback {
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 13px;
  min-height: 160px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }
}

.fieldset_name {
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    grid-area: name;
    width: auto;
    margin-left: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.fieldset_contact {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-area: contact;
    padding-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 11px;
  }
}

.fieldset_impression {
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    grid-area: impression;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding-left: 5px;
  }
}

.fieldset_sightseeing {
  @media (min-width: $tablet-width) {
    grid-area: sightseeing;
  }
}

.fieldset_feedback {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-area: feedback;
    margin-bottom: 25px;
  }
}

.fieldset__name-box {
  box-sizing: content-box;
  margin-left: auto;
}

.fieldset__list {
  @include list-reset;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.fieldset__list_contact {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.fieldset__list_impression {
  @media (min-width: $tablet-width) {
    border-right: 1px solid var(--medium-gray);
  }
}

.fieldset__list_sightseeing {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
}

.fieldset__item_sightseeing {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-basis: 50%;
    text-align: center;
    padding-left: 21px;
    margin-bottom: 32px;

    &:nth-child(even) {
      padding-left: 30px;
    }
  }
}

.fieldset__item-name {
  display: flex;
  align-items: baseline;
}

.fieldset__item-contact {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: baseline;
  }
}

.fieldset__item-impression {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.fieldset__radio {
  display: flex;
  align-items: center;
  outline: none;

  &::before {
    content: "";
    width: 56px;
    height: 56px;
    background-color: var(--light-gray);
    border-radius: 50%;
    margin-right: 22px;
  }

  &:hover {
    &::before {
      background-color: var(--medium-gray);
    }
  }

  &:active {
    &::before {
      background-color: var(--dark-gray);
    }
  }

  &:focus::before {
    @include custom-outline;
  }

  @media (min-width: $tablet-width) {
    &::before {
      margin-right: 19px;
    }
  }
}

.fieldset__input-radio:checked ~ .fieldset__radio {
  &::before {
    content: "";
    border: 18px solid var(--light-gray);
    background-color: var(--additional-black);
  }
}

.fieldset__input-radio:checked:hover ~ .fieldset__radio {
  &::before {
    border: 18px solid var(--medium-gray);
  }
}

.fieldset__input-radio:checked:active ~ .fieldset__radio {
  &::before {
    border: 18px solid var(--dark-gray);
    background-color: var(--additional-gray);
  }
}

.fieldset__checkbox {
  display: flex;
  align-items: center;
  outline: none;
  position: relative;

  &::before {
    content: "";
    width: 56px;
    height: 56px;
    background-color: var(--light-gray);
    border-radius: 5px;
    margin-right: 20px;
  }

  &:hover {
    &::before {
      background-color: var(--medium-gray);
    }
  }

  &:active {
    &::before {
      background-color: var(--dark-gray);
    }
  }

  &:focus::before {
    @include custom-outline;
  }

  @media (min-width: $tablet-width) {
    &::before {
      margin-right: 24px;
    }
  }
}

.fieldset__input-checkbox:checked ~ .fieldset__checkbox {
  &::after {
    content: url("../img/icon-tick.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 56px;
    height: 62px;
    left: 0;
    top: 0;
  }
}

.fieldset__input-checkbox:checked:active ~ .fieldset__checkbox {
  &::after {
    content: url("../img/icon-tick.svg");
    opacity: 0.3;
  }
}

.fieldset__hide {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
