.find-hotel {
  padding: 33px 20px 50px 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 58px 0;
  }
}

.find-hotel__title {
  margin: 0;
}

.find-hotel__text {
  margin: 34px auto;
  max-width: 458px;
}
