.gallery {
  display: grid;
  margin-top: 32px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    margin: 32px 60px 58px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__photo {
  margin: 22px 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}
