.logo {
  color: transparent;
  cursor: pointer;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 102px;
  }

  @media (min-width: $desktop-width) {
    width: 187px;
  }
}

.logo__img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
