.menu {
  @include list-reset;
  background-color: var(--primary-blue);
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    background-color: var(--primary-white);
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.menu__item {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $tablet-width) {
    &:not(:first-child) {
      border-top: 1px solid var(--white-opacity-02);
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--black-opacity-02);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 26px;
  }
}

.menu__link {
  text-decoration: none;
  color: var(--primary-white);

  @media (min-width: $tablet-width) {
    color: var(--primary-black);
  }
}
