.page {
  min-width: 100%;
}

.page__body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
