.page-content {
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;
  }
}

.page-content_photo {
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 101px;
  }
}

.page-content_feedback {
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 114px;
  }
}


.page-content__title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 28px;
  max-width: 300px;
  padding: 0 17px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin-bottom: 32px;
  }
}

.page-content__text {
  text-align: center;
  margin: 0 auto;
  max-width: 520px;
  padding: 0 17px;
}

.page-content__text_inner {
  @media (min-width: $tablet-width) {
    max-width: 480px;
  }
}

.page-content__form {
  margin-top: 15px;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin: 87px 60px 65px 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 58px 120px 70px 120px;
  }
}
