.page-content {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 102px;
  }
}

.page-content__title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 520px;
  padding: 0 17px;
}

.page-content__text {
  text-align: center;
  margin: 0 auto;
  max-width: 520px;
  padding: 0 17px;
}

.page-content__form {
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    margin: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 56px 120px 66px 120px;
  }
}
