.photo__title {
  margin: 0;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__author {
  margin: 0;
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
