.photo__title {
  margin: 0;
  margin-top: 11px;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.photo__author {
  margin: 0;
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.photo__caption {
  @media (min-width: $tablet-width) {
    padding: 17px 20px 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-opacity-03);
    color: var(--primary-white);
  }
}

.photo__like {
  cursor: pointer;
  border: none;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 13px;

  &::before {
    content: url("../img/icon-like.svg");
    opacity: 0.3;
    margin-right: 15px;

    @media (min-width: $desktop-width) {
      opacity: 1;
      filter: invert(1);
    }
  }

  @media (min-width: $desktop-width) {
    color: var(--primary-white);
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
