.title {
  font-family: var(--primary-font);
  color: var(--primary-black);
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.title_white {
  color: var(--primary-white);
}

.title_big {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.title_wrap {
  @media (min-width: $tablet-width) {
    max-width: 155px;
    margin: 0 auto;
  }
}

.title_area {
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.title_tourist {
  margin-top: 3px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
