.title {
  font-family: var(--primary-font);
  color: var(--primary-black);
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.title_white {
  color: var(--primary-white);
}
