.video {
  margin: 33px 0 44px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 89px;
  }
}

.video__title {
  margin: 28px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video__text {
  margin: 28px 22px 33px 22px;
  max-width: 445px;

  @media (min-width: $tablet-width) {
    margin: 33px auto 79px auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}
